body {
        background-color: #FFFFFF;
        font-family: bureau-grot-condensed, sans-serif;
        font-size: 20px;
}

h1 {
        color: #764999;
        font-family: acier-bat-noir, sans-serif;
        font-weight: 400;
        font-style: normal;
        text-align: center;
        font-size: 80px;
        position: relative;
        top: 80px;
}
p {
        color: #000000;
        font-weight: 400;
        font-style: normal;
        text-align: center;
}
.logo {
        float:top right;
        width: 140px;
}
nav {
    text-decoration: none;
    float: right;
    color: #000000;
    word-spacing: 40px;
    margin: 1.5em;
}
#explainer {
        position: relative;
        top: 20px;
}
.container {
  background-color: #FFF;
  border: 2px solid black;
  text-align: center;
  padding: 10px 20px;
}
#two_column {
    background-color: #FFB7CF;
    border: 1px black solid;
    padding: 10px;
}
#left {
    background-color: #E582A2;
    border: 1px black solid;
    padding: 20px;
    float: left;
    width: 500px;
}
#right {
    background-color: #E55B88;
    border: 1px black solid;
    padding: 20px;
    float: right;
    width: 500px;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
#image1 {
    width: 400px;
}
#image2 {
    width: 400px;
}
#image3 {
    height: 173px;
}
#image4 {
    height: 186px;
}
footer {
    clear: both;
}