* {
    margin: 0;
}
body {
        background-color: #FFFFFF;
        font-family: bureau-grot-condensed, sans-serif;
        font-size: 20px;
}

h1 {
        color: #764999;
        font-family: acier-bat-noir, sans-serif;
        font-weight: 400;
        font-style: normal;
        text-align: center;
        font-size: 80px;
        float: top;
}
p {
        color: #000000;
        font-weight: 400;
        font-style: normal;
        text-align: center;
}
.logo {
        float:top right;
        width: 140px;
}
nav {
    text-decoration: none;
    float: right;
    color: #000000;
    word-spacing: 40px;
    margin: 1.5em;
}
#explainer {
        float: top;
        margin-bottom: 20px;
}
.container {
  background-color: #FFF;
  border: 2px solid black;
  text-align: center;
  padding: 10px 20px;
  margin: 4px 4px 4px 4px;
  width: 50%;
}
#portfolio {
    margin: 0 5% 0 5%;
    float: left;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.image {
    width: 100%;
}
footer {
    clear: both;
}